/* CSS Document */

body {
	padding: 0;
	margin: 0;
	background-color: aliceblue;
}
h1 ,h2, h3, h4, h5, ul, li, a, blockquote {
	padding: 0;
	margin: 0;
}
header {
	background: #fcf8ef;
	min-height: 200px;
	margin:0;
	padding: 0;
}
header nav {
	padding: 5px 25px;
	background-color: lightblue;
	text-align: center;
	font-size: 1.2em;
}
header img {
	max-width: 100%;
	margin: 0;
	padding:0;
	height: 400px;
	
}
header nav ul {
	display: block;
	float: right;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	font-size: 1.2em;
}

header nav a {
	color: aliceblue;
	text-decoration: none;
}

header nav ul li:hover {
	text-decoration: underline;
}

header h1 {
	font-size: 3em;
	background-color: aliceblue;
	margin: 0;
	padding: 0;
	border: 1px solid black;
}

main {
	margin: 0 auto;
	/*border: 2px black solid;*/
	max-width: 1000px;
	font-size: 1.5em;
	min-height: 800px;
}
article {
	font-size: 1.5em;
}

article img{
	float: right;
	max-width: 50%;
	max-height: 40%;
	
}

h1 {
	color: black;
	font-size: 1.2em;
}

h2 {
	color: lightblue;
	font-size: 1.5em;
}

blockquote {
	color: hsl(57, 99%, 49%);
}

table {
	
}

footer {
	clear: both;
	background: aliceblue;
	color: black;
	margin-bottom: 0;
	text-align: center;
}

footer nav {
	padding: 5px 25px;
	background-color: lightblue;
	text-align: center;
}

footer nav ul {
	display: block;
	float: right;
}

footer nav ul li {
	display: inline-block;
	list-style: none;
	font-size: 1.2em;
}

footer nav a {
	color: #fcf8ef;
	text-decoration: underline;
}